body {
    background-color: antiquewhite;
}
h1 {
    color: red;
    padding: 10px;
}
header table a:hover {
    color: blue;
    text-decoration: none;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header table {
    padding: 10px;
}   
header table td {
    padding-inline-start: 20px;
}